<!DOCTYPE html>
<html>
<head>
  <title>Category Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <header>
    <!-- <h1>Category Page</h1> -->
  </header>
  
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav"  style="margin-left: 35%;">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </nav>

  <style>
    .center {
      text-align: center;
      margin-top: 20%;
    }
  </style>
  

  <div class="center">
    <!-- <h1>Welcome to Category Page</h1> -->
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>

<router-outlet></router-outlet>
